.container{
    margin: 50px auto;
    text-align:center;
    background-color: lightblue;
}

h1{
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    
}

label{
    font-size: 20px;
    font-weight: 100;
    margin-right: 20px;
}

button{
    font-size: 20px;
    font-weight: 100;
   
}

p{
    font-size: 40px;
    font-weight: 100;
    margin-top: 20px;
    color: darkblue;
}

button{
    background-color:blue;
    
    
  
    text-align: center;
    color: antiquewhite;
    
    
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}

.labels{
    display: flex;
    justify-content: center;
    
}

 label{
    margin-right: 50px;
}

.inputs{
    display: flex;
    justify-content: center;
}

input{
    width: 50px;
    margin-right: 50px;
}